<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="UTF-8">
<title><%= title %></title>
<meta name="title" content="<%= title %>">
<meta name="description" content="All news, latest news and news from the most revealing news site TPNS Two.">
<meta name="keywords" content="news, financial news, sports news, weather report" />
<meta name="author" content="<%= title %>">
<meta name="Copyright" content="Copyright <%= title %>. All Rights Reserved.">

<meta name="google-site-verification" content="All news, latest news and news from the most revealing news site TPNS Two.">

<meta name="DC.title" content="<%= title %>">
<meta name="DC.subject" content="All news, latest news and news from the most revealing news site TPNS Two.">
<meta name="DC.creator" content="<%= title %>">

<meta property="og:title" content="<%= title %>">
<meta property="og:type" content="website">
<meta property="og:description" content="All news, latest news and news from the most revealing news site TPNS Two.">
<meta property="og:url" content="http://tpns.com/">
<meta property="og:site_name" content="TPNS Two Newspaper">
<meta property="og:image" content="./images/share.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@tpns">
<meta name="twitter:creator" content="@tpns">
<meta name="twitter:title" content="<%= title %> Newspaper">
<meta name="twitter:description" content="All news, latest news and news from the most revealing news site TPNS Two.">
<meta name="twitter:image:src" content="./images/share.jpg">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui">

<link rel="apple-touch-icon" href="./images/apple-touch-icon-precomposed.png">

<link rel="stylesheet" type="text/css" media="screen" href="./lib/plyr/dist/plyr.css">
<link rel="stylesheet" type="text/css" media="screen" href="./stylesheets/style.css" />

<!--[if IE]>
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/lte-ie9.css">
<![endif]-->