<div class="page-wrap-left">
    <div class="page-wrap-left-closed"></div>
    <div class="page-wrap-left-open"></div>
    <div class="container-user">
        <div class="user-logged-out">
            <a class="user-controller" title="">
                <i class="icon icon-user"></i>
                <div class="user-details">
                    <h4>Take Control</h4>
                    <h6>Login or Subscribe here...</h6>
                </div>
                <div class="user-logged-out-button-info">
                    <div class="user-logged-out-button-info-open"><i class="icon icon-arrow-down"></i></div>
                    <div class="user-logged-out-button-info-close"><i class="icon icon-close"></i></div>
                    <div class="user-logged-out-button-info-back"><i class="icon icon-arrow-left"></i></div>
                </div>
            </a>
        </div>
        <div class="user-logged-in">
            <a class="user-controller" title="">
                <img src="subscriber-images/subscriber-images-50x50/subscriber1-50x50.jpg" alt="Image of Nico Haitas" />
                <div class="user-details">
                    <h4>Nico Haitas</h4>
                    <h6>Subscribed till: 30/06/2018</h6>
                </div>
            </a>
        </div>
        <div class="user-controller-login-form">
            <div class="global-green-button global-button user-controller-form-input-button">
                <p class="textc textb"><a class="user-controller-form-input-button-subscribe"><i class="icon icon-user"></i>Subscribe here <span class="textb texti">FREE</span></a></p>
            </div>
            <div class="user-controller-login-or">
                <h3>or</h3>
            </div>
            <form class="user-login-form">
                <label class="user-controller-form-input-label">
                    <span class="user-controller-form-input-title">
                        Email
                    </span>
                    <span class="user-controller-form-input-container">
                        <input class="texti" type="email" name="your-email" aria-required="true" aria-invalid="false" placeholder="joe.blogs@industries.com" required />
                    </span>
                </label>
                <label class="user-controller-form-input-label">
                    <span class="user-controller-form-input-title">
                        Password
                    </span>
                    <span class="user-controller-form-input-container">
                        <input class="texti" type="password" name="your-password" aria-required="true" aria-invalid="false" placeholder="********" required />
                    </span>
                </label>
                <div class="global-blue-button global-button user-controller-form-input-button">
                    <button type="submit" name="submit" class="user-controller-form-input-button-login textb"><i class="icon icon-locked"></i>Login</button>
                </div>
            </form>
        </div>
        <div class="user-controller-subscribe-form">
            <div class="user-subscribe-marketing">
                <div class="user-subscribe-marketing-title">
                    <h3>FREE Subscription Package</h3>
                </div>
                <h4>What do I get?</h4>
                <ul>
                    <li><h5>Your news category choices will be remembered</h5></li>
                    <li><h5>Your pinned articles will be remembered until you delete them</h5></li>
                    <li><h5>Get breaking news articles as they break via email</h5></li>
                    <li><h5>Ability to write your own news and/or video articles*</h5></li>
                    <li><h5>Ability to comment on articles</h5></li>
                    <li><h5>Get hyper-local weather reports based on your geolocation</h5></li>
                </ul>
                <p>* Subject to review and approval by the <span class="textb">TPNS</span><span class="texti">two</span> editor</p>
            </div>
            <form class="user-subscribe-form" autocomplete="off">
                <label class="user-controller-form-input-label">
                    <span class="user-controller-form-input-title">
                        Name &amp; Surname
                    </span>
                    <span class="user-controller-form-input-container">
                        <input class="texti" type="text" name="your-name" aria-required="true" aria-invalid="false" placeholder="Joe Blogs" required />
                    </span>
                </label>
                <label class="user-controller-form-input-label">
                    <span class="user-controller-form-input-title">
                        Email
                    </span>
                    <span class="user-controller-form-input-container">
                        <input class="texti" type="email" name="your-email" aria-required="true" aria-invalid="false" placeholder="joe.blogs@industries.com" required />
                    </span>
                </label>
                <label class="user-controller-form-input-label">
                    <span class="user-controller-form-input-title">
                        Password
                    </span>
                    <span class="user-controller-form-input-container">
                        <input class="texti" type="password" name="your-password" aria-required="true" aria-invalid="false" placeholder="********" required />
                    </span>
                </label>
                <div class="global-blue-button global-button user-controller-form-input-button">
                    <button type="submit" name="submit" class="user-controller-form-input-button-login textb"><i class="icon icon-locked"></i>Sign me up for FREE now</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-subscribe-marketing">
        <section>
            <div class="container-content-section-title">
                <h1>Subscriptions</h1>
            </div>
            <h2>Select your preferred package</h2>
            <div class="container-subscribe-marketing-mid">
                <div class="container-subscribe-marketing-inner">
                    <div class="container-subscribe-marketing-content">
                        <a href="#">
                            <h3>Subscribe to the TPNS<span class="texti">two</span> Digital Pack</h3>
                            <div class="container-subscribe-marketing-promo">
                                <h4>50% off for 3 months</h4>
                            </div>
                            <ul>
                                <li><h5>14-day free trial</h5></li>
                                <li><h5>Access to the Daily Edition, the digital version of the <span class="textb">TPNS</span><span class="texti">two</span> newspaper</h5></li>
                                <li><h5>Access to the advert-free <span class="textb">TPNS</span><span class="texti">two</span> App Premium Tier</h5></li>
                                <li><h5>Available on Apple, Android and Kindle Fire</h5></li>
                                <li><h5>Use on up to 10 devices</h5></li>
                            </ul>
                            <div class="container-subscribe-marketing-image">
                                <img src="newspaper-images/bg-digital-pack.png" alt="image of TPNSTwo on tablets and mobiles" />
                            </div>
                            <div class="global-green-button global-button">
                                <p class="textr textb">Subscribe Here<i class="icon icon-arrow-right"></i></p>
                            </div>
                        </a>
                    </div>
                    <div class="container-subscribe-marketing-content">
                        <a href="#">
                            <h3>Subscribe to the TPNS<span class="texti">two</span> Newspaper</h3>
                            <div class="container-subscribe-marketing-promo">
                                <h4>Free delivery to your door</h4>
                            </div>
                            <ul>
                                <li><h5>Free delivery to your door, wherever you are in the world</h5></li>
                                <li><h5>A unique blend of international news, politics, culture and comment</h5></li>
                                <li><h5>Save on the retail price</h5></li>
                            </ul>
                            <div class="container-subscribe-marketing-image">
                                <img src="newspaper-images/tpns-two-np.png" alt="image of TPNSTwo Newspaper" />
                            </div>
                            <div class="global-green-button global-button textr">
                                <p class="textb">Subscribe Here<i class="icon icon-arrow-right"></i></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container-sections">
        <div class="container-sections-error">
            <a title="Click here to close this error message"><i class="icon icon-close"></i></a>
            <h4>Oops!</h4>
            <p>You have reached the maximum newspaper sections.</p>
            <p>To add a new section please remove one from the current list of sections below first</p>
        </div>
        <ul class="category-links">
            <li class="disabled">
                <div class="category-controllers">
                    <div class="category-one-only category-one-only-reset">
                        <a title=""><i class="icon icon-undo"></i></a>
                    </div>
                    <div class="category-filter">
                    </div>
                    <div class="category-add-remove-section">
                        <div class="category-add-remove-section-each"></div>
                    </div>
                </div>
            </li>
            <%_ for (var i = 0 ; i < data.nav1.length; i++) { _%>
                <%_ navigationLevel = data.nav1[i]; _%>
                <li name="<%- navigationLevel.categoryslug %>">
                    <div class="category-mark" name="<%- navigationLevel.categoryslug %>">
                        <a href="#<%- navigationLevel.categoryslug %>" title=""><i class="icon icon-radio-button-solid"></i></a>
                        <i class="icon icon-radio-button-disabled"></i>
                        <i class="icon icon-arrow-right"></i>
                        <i class="icon icon-go"></i>
                    </div>
                    <div class="category-link-details" name="<%- navigationLevel.categoryslug %>">
                        <%_ if ( (navigationLevel.categoryslug) === "happening-now" ) { _%>
                            <%- navigationLevel.category %>
                        <%_ } else { _%>
                            <a href="/<%- navigationLevel.categoryslug %>" title="Takes you to the <%- navigationLevel.category %> category"><%- navigationLevel.category %></a>
                        <%_ } _%>
                    </div>
                    <div class="category-controllers">
                        <div class="category-one-only" name="<%- navigationLevel.categoryslug %>">
                            <label>
                                <input class="category-one-only-radio" type="radio" name="category-one-only-filter" />
                                <span class="category-one-only-mark">
                                    <span class="category-one-only-mark-inactive"><i class="icon icon-radio-button-off"></i></span>
                                    <span class="category-one-only-mark-active"><i class="icon icon-radio-button-solid"></i></span>
                                    <span class="category-one-only-mark-filtered"><i class="icon icon-radio-button-on"></i></span>
                                    <span class="category-one-only-mark-disabled"><i class="icon icon-radio-button-disabled"></i></span>
                                </span>
                            </label>
                        </div>
                        <div class="category-filter" name="<%- navigationLevel.categoryslug %>">
                            <label class="category-filter-label">
                                <input class="category-filter-checkbox" type="checkbox" name="category-filter" />
                                <div class="category-filter-slider-handle"></div>
                            </label>
                        </div>
                        <div class="category-add-remove-section">
                            <div class="category-add-remove-section-each">
                                <span class="category-add-remove-section-each-mark">
                                    <span class="category-add-remove-section-each-mark-disabled"><i class="icon icon-square-empty"></i></span>
                                    <span class="category-add-remove-section-each-mark-add"><i class="icon icon-square-add"></i></span>
                                    <span class="category-add-remove-section-each-mark-remove"><i class="icon icon-square-subtract"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            <%_ } _%>
            <li class="add-section">
                <a class="add-section-mark" title="">
                    <i class="icon icon-add"></i>
                    <span class="add-section-link-details textb">
                        Add Sections
                    </span>
                    <span class="add-section-indicator">
                        <span class="add-section-indicator-closed"><i class="icon icon-arrow-down"></i></span>
                        <span class="add-section-indicator-open"><i class="icon icon-arrow-up"></i></span>
                    </span>
                </a>
                <div class="additional-sections">
                    <ul class="additional-sections-container">
                        <%_ for (var i = 0 ; i < data.nav2.length; i++) { _%>
                            <%_ navigationLevel = data.nav2[i]; _%>
                            <li name="<%- data.nav2[i].categoryslug || data.nav2[i].micrositeslug %>">
                                <div class="category-mark" name="<%- data.nav2[i].categoryslug || data.nav2[i].micrositeslug %>">
                                    <a href="#<%- data.nav2[i].categoryslug || data.nav2[i].micrositeslug %>" title=""><i class="icon icon-radio-button-solid"></i></a>
                                    <i class="icon icon-radio-button-disabled"></i>
                                    <i class="icon icon-arrow-right"></i>
                                    <i class="icon icon-go"></i>
                                </div>
                                <div class="category-link-details" name="<%- data.nav2[i].categoryslug || data.nav2[i].micrositeslug %>">
                                    <a href="/<%- data.nav2[i].categoryslug || data.nav2[i].micrositeslug %>" title="Takes you to the <%- navigationLevel.category %> category"><%- navigationLevel.category %></a>
                                </div>
                                <div class="category-controllers">
                                    <div class="category-one-only" name="<%- data.nav2[i].categoryslug || data.nav2[i].micrositeslug %>">
                                        <label>
                                            <input class="category-one-only-radio" type="radio" name="category-one-only-filter" />
                                            <span class="category-one-only-mark">
                                                <span class="category-one-only-mark-inactive"><i class="icon icon-radio-button-off"></i></span>
                                                <span class="category-one-only-mark-active"><i class="icon icon-radio-button-solid"></i></span>
                                                <span class="category-one-only-mark-filtered"><i class="icon icon-radio-button-on"></i></span>
                                                <span class="category-one-only-mark-disabled"><i class="icon icon-radio-button-disabled"></i></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="category-filter" name="<%- data.nav2[i].categoryslug || data.nav2[i].micrositeslug %>">
                                        <label class="category-filter-label">
                                            <input class="category-filter-checkbox" type="checkbox" name="category-filter" />
                                            <div class="category-filter-slider-handle"></div>
                                        </label>
                                    </div>
                                    <div class="category-add-remove-section">
                                        <div class="category-add-remove-section-each">
                                            <span class="category-add-remove-section-each-mark">
                                                <span class="category-add-remove-section-each-mark-disabled"><i class="icon icon-square-empty"></i></span>
                                                <span class="category-add-remove-section-each-mark-add"><i class="icon icon-square-add"></i></span>
                                                <span class="category-add-remove-section-each-mark-remove"><i class="icon icon-square-subtract"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <%_ } _%>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="container-pinned-articles">
        <div class="container-pinned-articles-button">
        <a title="">
            <i class="icon icon-tack"></i>
            <span class="container-pinned-title">Pinned Articles</span>
            <span class="container-pinned-total textb">0</span>
            <span class="container-pinned-close"><i class="icon icon-close"></i></span>
        </a>
        </div>
        <div class="pinned-articles-content">
            <ul></ul>
        </div>
    </div>
    <div class="container-weather">
        <a title="">
            <div id="weather"></div>
        </a>
    </div>
</div>