<section id="happening-now">
    <main>
        <div class="content-area-lead-story">
            <%_ for (var i = 0 ; i < data.articles.length; i++) { _%>
                <%_ eachArticle = data.articles[i]; _%>
                <%_ var thisArticle = eachArticle.leadarticle; _%>
                <%_ if ( thisArticle === 1 ) { _%>
                    <article>
                        <div class="article-category-main-container">
                            <div class="article-category-container">
                                <a>
                                    <h1 class="article-headline"><%- eachArticle.headline %></h1>
                                    <%_ if ( eachArticle.kickerimage350 ) { _%>
                                    <div class="article-image <%- eachArticle.imageorientation %>">
                                        <div class="new-article-image compat-object-fit" style="background-image: url('<%- eachArticle.kickerimage350 %>');">
                                            <img src="<%- eachArticle.kickerimage350 %>" alt="Image for <%- eachArticle.kicker %> article" />
                                        </div>
                                    </div>
                                    <h3 class="article-subhead"><%- eachArticle.subhead %></h3>
                                    <%_ } else { _%>
                                    <h3 class="article-subhead"><%- eachArticle.subhead %></h3>
                                    <div class="article-nutshell"><%- eachArticle.nutshell %></div>
                                    <%_ } _%>
                                </a>
                            </div>
                            <div class="article-additional-info">
                                <small class="article-category-identifier-container">
                                    Featured in: 
                                    <%_ if ( eachArticle.categoryslug ) { _%>
                                    <a href="<%- eachArticle.categoryslug %>"><span class="category-identifier"><%- eachArticle.categoryslug %></span></a>
                                    <%_ } _%>
                                    <%_ if ( eachArticle.subcategoryslug ) { _%>
                                        - <a href="<%- eachArticle.categoryslug %>/<%- eachArticle.subcategoryslug %>"><span class="subcategory-identifier"><%- eachArticle.subcategoryslug %></span></a>
                                    <%_ } _%>
                                    <%_ if ( eachArticle.subcategoryslug && eachArticle.subcategoryfirstchildslug ) { _%>
                                        - <a href="<%- eachArticle.categoryslug %>/<%- eachArticle.subcategoryslug %>/<%- eachArticle.subcategoryfirstchildslug %>"><span class="subcategory-first-child-identifier"><%- eachArticle.subcategoryfirstchildslug %></span></a>
                                    <%_ } _%>
                                    <%_ if ( eachArticle.subcategoryslug && eachArticle.subcategoryfirstchildslug && eachArticle.subcategorysecondchildslug ) { _%>
                                        - <a href="<%- eachArticle.categoryslug %>/<%- eachArticle.subcategoryslug %>/<%- eachArticle.subcategoryfirstchildslug %>/<%- eachArticle.subcategorysecondchildslug %>"><span class="subcategory-second-child-identifier"><%- eachArticle.subcategorysecondchildslug %></span></a>
                                    <%_ } _%>
                                </small>
                                <small class="article-authors-container">
                                    By: 
                                    <%_ if ( eachArticle.reporter1 ) { _%>
                                        <a href=""><span class="article-author"><%- eachArticle.reporter1 %></span></a>
                                    <%_ } _%>
                                    <%_ if ( eachArticle.reporter1 && eachArticle.reporter2 ) { _%>
                                        and <a href=""><span class="article-author"><%- eachArticle.reporter2 %></span></a>
                                    <%_ } _%>
                                </small>
                            </div>
                            <div class="article-controller-container">
                                <div class="article-controller-pin-article">
                                    <a title=""><i class="icon icon-tack"></i></a>
                                </div>
                                <div class="article-controller-share-article">
                                    <a class="article-controller-share-button" title="">
                                        <span class="article-controller-share-button-open"><i class="icon icon-share"></i></span>
                                        <span class="article-controller-share-button-close"><i class="icon icon-close"></i></span>
                                    </a>
                                    <div class="article-controller-share-social">
                                        <a class="article-controller-share-facebook" title=""><i class="icon icon-facebook"></i></a>
                                        <a class="article-controller-share-twitter" title=""><i class="icon icon-twitter"></i></a>
                                        <a class="article-controller-share-linkedin" title=""><i class="icon icon-linkedin"></i></a>
                                        <a class="article-controller-share-google-plus" title=""><i class="icon icon-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="article-category-related-container">
                            <ul>
                                <%_ for (var j = 0 ; j < data.articles.length; j++) { _%>
                                    <%_ var relatedArticleParent = data.articles[j]; _%>
                                    <%_ var relatedArticleParentId = relatedArticleParent.articleid; _%>
                                    <%_ for (var k = 0 ; k < eachArticle.relatedarticleid.length; k++) { _%>
                                        <%_ var relatedArticleRange = eachArticle.relatedarticleid[k]; _%>
                                        <%_ if ( relatedArticleParentId === relatedArticleRange ) { _%>
                                            <li id="article-<%- relatedArticleParent.articleid %>">
                                                <article>
                                                    <div class="article-category-container">
                                                        <a>
                                                            <%_ if ( relatedArticleParent.kickerimage350 ) { _%>
                                                            <div class="article-image <%- relatedArticleParent.imageorientation %> <%- relatedArticleParent.imagefullwidth %>">
                                                                <div class="new-article-image compat-object-fit" style="background-image: url('<%- relatedArticleParent.kickerimage350 %>');">
                                                                    <img src="<%- relatedArticleParent.kickerimage350 %>" alt="Image for <%- relatedArticleParent.kicker %> article" />
                                                                </div>
                                                            </div>
                                                            <%_ } _%>
                                                            <h2 class="article-kicker"><%- relatedArticleParent.kicker %></h2>
                                                            <h3 class="article-subhead"><%- relatedArticleParent.subhead %></h3>
                                                        </a>
                                                    </div>
                                                    <div class="article-additional-info">
                                                        <small class="article-authors-container">
                                                            By: 
                                                            <%_ if ( relatedArticleParent.reporter1 ) { _%>
                                                                <a href=""><span class="article-author"><%- relatedArticleParent.reporter1 %></span></a>
                                                            <%_ } _%>
                                                            <%_ if ( relatedArticleParent.reporter1 && relatedArticleParent.reporter2 ) { _%>
                                                                and <a href=""><span class="article-author"><%- relatedArticleParent.reporter2 %></span></a>
                                                            <%_ } _%>
                                                        </small>
                                                        <%_ if ( relatedArticleParent.allowcomments === 1 ) { _%>
                                                            <small class="article-comments-total-container">
                                                                <a href=""><i class="icon icon-comments"></i><span class="article-comments-total"><%- relatedArticleParent.articletotalcomments %></span><span class="article-comments-text">Comments</span></a>
                                                            </small>
                                                        <%_ } _%>
                                                    </div>
                                                    <div class="article-controller-container">
                                                        <div class="article-controller-pin-article">
                                                            <a title=""><i class="icon icon-tack"></i></a>
                                                        </div>
                                                        <div class="article-controller-share-article">
                                                            <a class="article-controller-share-button" title="">
                                                                <span class="article-controller-share-button-open"><i class="icon icon-share"></i></span>
                                                                <span class="article-controller-share-button-close"><i class="icon icon-close"></i></span>
                                                            </a>
                                                            <div class="article-controller-share-social">
                                                                <a class="article-controller-share-facebook" title=""><i class="icon icon-facebook"></i></a>
                                                                <a class="article-controller-share-twitter" title=""><i class="icon icon-twitter"></i></a>
                                                                <a class="article-controller-share-linkedin" title=""><i class="icon icon-linkedin"></i></a>
                                                                <a class="article-controller-share-google-plus" title=""><i class="icon icon-google-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                        <%_ } _%>
                                    <%_ } _%>
                                <%_ } _%>
                            </ul>
                        </div>
                    </article>
                <%_ } _%>
            <%_ } _%>
        </div>
        <div name="trending" class="lead-story-left-column">
            <div class="content-area-category-title textb textup">
                Trending
            </div>
            <%_ for (var i = 0 ; i < data.articles.length; i++) { _%>
                <%_ eachHappeningNowTrendingArticle = data.articles[i]; _%>
                <%_ var thisHappeningNowTrendingArticle = eachHappeningNowTrendingArticle.happeningnowtrendingarticleid; _%>
                <%_ if ( thisHappeningNowTrendingArticle !== 0 ) { _%>
                    <article>
                        <div class="article-category-main-container">
                            <%_ if ( eachHappeningNowTrendingArticle.kickerimage350 ) { _%>
                            <div class="article-category-container">
                                <a>
                                    <div class="article-image <%- eachHappeningNowTrendingArticle.imageorientation %> <%- eachHappeningNowTrendingArticle.imagefullwidth %>">
                                        <div class="new-article-image compat-object-fit" style="background-image: url('<%- eachHappeningNowTrendingArticle.kickerimage350 %>');">
                                            <img src="<%- eachHappeningNowTrendingArticle.kickerimage350 %>" alt="Image for <%- eachHappeningNowTrendingArticle.kicker %> article" />
                                        </div>
                                    </div>
                                    <h1 class="article-headline"><%- eachHappeningNowTrendingArticle.headline %></h1>
                                    <div class="content-area-trending-incrementer"><%- eachHappeningNowTrendingArticle.happeningnowtrendingarticleid %></div>
                                </a>
                            </div>
                            <%_ } else { _%>
                            <div class="article-category-container">
                                <a>
                                    <h1 class="article-headline"><%- eachHappeningNowTrendingArticle.headline %></h1>
                                    <div class="article-nutshell"><%- eachHappeningNowTrendingArticle.nutshell %></div>
                                    <div class="content-area-trending-incrementer"><%- eachHappeningNowTrendingArticle.happeningnowtrendingarticleid %></div>
                                </a>
                            </div>
                            <div class="article-additional-info">
                                <small class="article-authors-container">
                                    By: 
                                    <%_ if ( eachHappeningNowTrendingArticle.reporter1 ) { _%>
                                        <a href=""><span class="article-author"><%- eachHappeningNowTrendingArticle.reporter1 %></span></a>
                                    <%_ } _%>
                                    <%_ if ( eachHappeningNowTrendingArticle.reporter1 && eachHappeningNowTrendingArticle.reporter2 ) { _%>
                                        and <a href=""><span class="article-author"><%- eachHappeningNowTrendingArticle.reporter2 %></span></a>
                                    <%_ } _%>
                                </small>
                                <%_ if ( eachHappeningNowTrendingArticle.allowcomments === 1 ) { _%>
                                <small class="article-comments-total-container">
                                    <a href=""><i class="icon icon-comments"></i><span class="article-comments-total"><%- eachHappeningNowTrendingArticle.articletotalcomments %></span><span class="article-comments-text">Comments</span></a>
                                </small>
                                <%_ } _%>
                            </div>
                            <%_ } _%>
                            <div class="article-controller-container">
                                <div class="article-controller-pin-article">
                                    <a title=""><i class="icon icon-tack"></i></a>
                                </div>
                                <div class="article-controller-share-article">
                                    <a class="article-controller-share-button" title="">
                                        <span class="article-controller-share-button-open"><i class="icon icon-share"></i></span>
                                        <span class="article-controller-share-button-close"><i class="icon icon-close"></i></span>
                                    </a>
                                    <div class="article-controller-share-social">
                                        <a class="article-controller-share-facebook" title=""><i class="icon icon-facebook"></i></a>
                                        <a class="article-controller-share-twitter" title=""><i class="icon icon-twitter"></i></a>
                                        <a class="article-controller-share-linkedin" title=""><i class="icon icon-linkedin"></i></a>
                                        <a class="article-controller-share-google-plus" title=""><i class="icon icon-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                <%_ } _%>
            <%_ } _%>
            <div class="content-area-trending-promo-area">
                <a>
                    <span class="content-area-trending-promo-title textb textup">Got a confidential news tip?</span>
                    <span class="content-area-trending-promo-content"><span class="textb">TPNS</span><span class="texti">two</span> offers several ways to get in touch with and provide materials to our journalists, find out more here.</span>
                </a>
            </div>
        </div>
        <div class="content-area-latest-articles">
            <div class="content-area-latest-articles-top-promo-area">
                <div class="content-area-latest-articles-top-promo-area-split">
                    <div class="content-area-category-title textb textup">
                        Podcasts
                    </div>
                    <%_ var podcastArticleCounter = 0; _%>
                    <%_ for (var i = 0 ; i < data.podcasts.length; i++) { _%>
                        <%_ eachPodcastArticle = data.podcasts[i]; _%>
                        <%_ var thisPodcastArticle = eachPodcastArticle.categoryslug; _%>
                        <%_ if ( thisPodcastArticle === "the-daily" ) { _%>
                            <%_ if (podcastArticleCounter < 1) { _%>
                                <podcast id="article-<%- eachPodcastArticle.articleid %>">
                                    <div class="article-category-subcategory-container textup">
                                        <a href="/<%- eachPodcastArticle.categoryslug %>" title=""><%- eachPodcastArticle.category %></a>
                                    </div>
                                    <div class="article-category-main-container">
                                        <div class="article-category-container">
                                            <a>
                                                <h1 class="article-headline"><%- eachPodcastArticle.headline %></h1>
                                                <div class="article-nutshell"><%- eachPodcastArticle.nutshell %></div>
                                            </a>
                                        </div>
                                        <div class="audio-wrapper">
                                            <audio preload="none" controls>
                                                <source src="<%- eachPodcastArticle.podcastmp3 %>" type="audio/mp3" />
                                            </audio>
                                        </div>
                                        <div class="article-additional-info">
                                            <small class="article-category-subscribe-item">
                                                Subscribe for <span class="texteb">FREE</span> below:
                                            </small>
                                            <small class="article-category-subscribe-item">
                                                <a href="<%- eachPodcastArticle.applepodcast %>" target="_blank">Apple Podcasts</a>
                                            </small>
                                            <small class="article-category-subscribe-item">
                                                <a href="<%- eachPodcastArticle.googleplaymusic %>" target="_blank">Google Play Music</a>
                                            </small>
                                            <small class="article-category-subscribe-item">
                                                <a href="<%- eachPodcastArticle.radiopublic %>" target="_blank">Radio Public</a>
                                            </small>
                                        </div>
                                    </div>
                                </podcast>
                                <%_ podcastArticleCounter ++; _%>
                            <%_ } _%>
                        <%_ } _%>
                    <%_ } _%>
                </div>
                <div class="content-area-latest-articles-top-promo-area-split">
                    <div class="content-area-category-title textr textb textup">
                        Topics
                    </div>
                    <div class="article-category-subcategory-container textup textc">
                        <a href="/tpnstwo-magazine" title="">TPNStwo Magazine</a>
                    </div>
                    <div class="content-area-latest-articles-top-promo-inner-area">
                        <%_ var insiderArticleCounter = 0; _%>
                        <%_ for (var i = 0 ; i < data.articles.length; i++) { _%>
                            <%_ eachInsiderArticle = data.articles[i]; _%>
                            <%_ var thisInsiderArticle = eachInsiderArticle.micrositeslug; _%>
                            <%_ if ( thisInsiderArticle === "tpnstwo-magazine" ) { _%>
                                <%_ if (insiderArticleCounter < 2) { _%>
                                    <div class="content-area-latest-articles-top-promo-inner-area-split">
                                        <article id="article-<%- eachInsiderArticle.articleid %>">
                                            <div class="article-category-main-container">
                                                <div class="article-category-container">
                                                    <a>
                                                        <%_ if ( eachInsiderArticle.kickerimage350 ) { _%>
                                                        <div class="article-image <%- eachInsiderArticle.imageorientation %>">
                                                            <div class="new-article-image compat-object-fit" style="background-image: url('<%- eachInsiderArticle.kickerimage350 %>');">
                                                                <img src="<%- eachInsiderArticle.kickerimage350 %>" alt="Image for <%- eachInsiderArticle.kicker %> article" />
                                                            </div>
                                                        </div>
                                                        <%_ } _%>
                                                        <h1 class="article-headline"><%- eachInsiderArticle.headline %></h1>
                                                        <h3 class="article-subhead"><%- eachInsiderArticle.subhead %></h3>
                                                    </a>
                                                </div>
                                                <div class="article-controller-container">
                                                    <div class="article-controller-pin-article">
                                                        <a title=""><i class="icon icon-tack"></i></a>
                                                    </div>
                                                    <div class="article-controller-share-article">
                                                        <a class="article-controller-share-button" title="">
                                                            <span class="article-controller-share-button-open"><i class="icon icon-share"></i></span>
                                                            <span class="article-controller-share-button-close"><i class="icon icon-close"></i></span>
                                                        </a>
                                                        <div class="article-controller-share-social">
                                                            <a class="article-controller-share-facebook" title=""><i class="icon icon-facebook"></i></a>
                                                            <a class="article-controller-share-twitter" title=""><i class="icon icon-twitter"></i></a>
                                                            <a class="article-controller-share-linkedin" title=""><i class="icon icon-linkedin"></i></a>
                                                            <a class="article-controller-share-google-plus" title=""><i class="icon icon-google-plus"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <%_ insiderArticleCounter ++; _%>
                                <%_ } _%>
                            <%_ } _%>
                        <%_ } _%>
                    </div>
                    <div class="article-category-signup-container textc">
                        <p>Get a weekly roundup of the best advice from <span class="textb">TPNS</span><span class="texti">two</span> on living a better, smarter, more fulfilling life.</p>
                        <!-- Begin MailChimp Signup Form -->
                        <div class="mc_embed_signup">
                            <form action="//handmadesolutions.us16.list-manage.com/subscribe/post?u=e1ae87d8e63bb811b4e1b0c2f&amp;id=b8e990be1b" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                                <div class="mc_embed_signup_scroll">
                                    <div class="mc-input">
                                        <input type="email" value="" name="EMAIL" class="mce-EMAIL email" placeholder="joe.bloggs@industries.com" required />
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_e1ae87d8e63bb811b4e1b0c2f_b8e990be1b" tabindex="-1" value="" />
                                    </div>
                                    <div class="mc-button">
                                        <button type="submit" name="subscribe" class="mc-embedded-subscribe button"><i class="icon icon-newsletter"></i><span class="hidden">Subscribe</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
            <div class="content-area-latest-articles-business">
                <div class="content-area-category-title textb textup">
                    <a href="" title="">Business</a>
                </div>
                <div class="content-area-latest-articles-business-inner">
                    <div class="business-world-markets">
                        <article></article>
                    </div>
                    <div class="business-world-markets-news">
                        <%_ var marketsArticleCounter = 0; _%>
                        <%_ for (var i = 0 ; i < data.articles.length; i++) { _%>
                            <%_ eachMarketsArticle = data.articles[i]; _%>
                            <%_ var thisMarketsArticle = eachMarketsArticle.subcategoryslug; _%>
                            <%_ if (thisMarketsArticle === "markets") { _%>
                                <%_ if (marketsArticleCounter < 1) { _%>
                                    <article>
                                        <div class="article-category-main-container">
                                            <div class="article-category-container">
                                                <a>
                                                    <%_ if ( eachMarketsArticle.softleadimage350 ) { _%>
                                                    <div class="article-image <%- eachMarketsArticle.imageorientation %>">
                                                        <div class="new-article-image compat-object-fit" style="background-image: url('<%- eachMarketsArticle.softleadimage350 %>');">
                                                            <img src="<%- eachMarketsArticle.softleadimage350 %>" alt="Image for <%- eachMarketsArticle.kicker %> article" />
                                                        </div>
                                                    </div>
                                                    <%_ } else if ( eachMarketsArticle.kickerimage350 ) { _%>
                                                    <div class="article-image <%- eachMarketsArticle.imageorientation %>">
                                                        <div class="new-article-image compat-object-fit" style="background-image: url('<%- eachMarketsArticle.kickerimage350 %>');">
                                                            <img src="<%- eachMarketsArticle.kickerimage350 %>" alt="Image for <%- eachMarketsArticle.kicker %> article" />
                                                        </div>
                                                    </div>
                                                    <%_ } _%>
                                                    <h2 class="article-kicker"><%- eachMarketsArticle.headline %></h2>
                                                    <div class="article-softlead">
                                                        <p><%- eachMarketsArticle.softlead %></p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="article-additional-info">
                                                <small class="article-category-identifier-container">
                                                    Featured in: 
                                                    <%_ if ( eachMarketsArticle.categoryslug ) { _%>
                                                    <a href="<%- eachMarketsArticle.categoryslug %>"><span class="category-identifier"><%- eachMarketsArticle.categoryslug %></span></a>
                                                    <%_ } _%>
                                                    <%_ if ( eachMarketsArticle.subcategoryslug ) { _%>
                                                        - <a href="<%- eachMarketsArticle.categoryslug %>/<%- eachMarketsArticle.subcategoryslug %>"><span class="subcategory-identifier"><%- eachMarketsArticle.subcategoryslug %></span></a>
                                                    <%_ } _%>
                                                    <%_ if ( eachMarketsArticle.subcategoryslug && eachMarketsArticle.subcategoryfirstchildslug ) { _%>
                                                        - <a href="<%- eachMarketsArticle.categoryslug %>/<%- eachMarketsArticle.subcategoryslug %>/<%- eachMarketsArticle.subcategoryfirstchildslug %>"><span class="subcategory-first-child-identifier"><%- eachMarketsArticle.subcategoryfirstchildslug %></span></a>
                                                    <%_ } _%>
                                                    <%_ if ( eachMarketsArticle.subcategoryslug && eachMarketsArticle.subcategoryfirstchildslug && eachMarketsArticle.subcategorysecondchildslug ) { _%>
                                                        - <a href="<%- eachMarketsArticle.categoryslug %>/<%- eachMarketsArticle.subcategoryslug %>/<%- eachMarketsArticle.subcategoryfirstchildslug %>/<%- eachMarketsArticle.subcategorysecondchildslug %>"><span class="subcategory-second-child-identifier"><%- eachMarketsArticle.subcategorysecondchildslug %></span></a>
                                                    <%_ } _%>
                                                </small>
                                                <small class="article-authors-container">
                                                    By: 
                                                    <%_ if ( eachMarketsArticle.reporter1 ) { _%>
                                                        <a href=""><span class="article-author"><%- eachMarketsArticle.reporter1 %></span></a>
                                                    <%_ } _%>
                                                    <%_ if ( eachMarketsArticle.reporter1 && eachMarketsArticle.reporter2 ) { _%>
                                                        and <a href=""><span class="article-author"><%- eachMarketsArticle.reporter2 %></span></a>
                                                    <%_ } _%>
                                                </small>
                                            </div>
                                            <div class="article-controller-container">
                                                <div class="article-controller-pin-article">
                                                    <a title=""><i class="icon icon-tack"></i></a>
                                                </div>
                                                <div class="article-controller-share-article">
                                                    <a class="article-controller-share-button" title="">
                                                        <span class="article-controller-share-button-open"><i class="icon icon-share"></i></span>
                                                        <span class="article-controller-share-button-close"><i class="icon icon-close"></i></span>
                                                    </a>
                                                    <div class="article-controller-share-social">
                                                        <a class="article-controller-share-facebook" title=""><i class="icon icon-facebook"></i></a>
                                                        <a class="article-controller-share-twitter" title=""><i class="icon icon-twitter"></i></a>
                                                        <a class="article-controller-share-linkedin" title=""><i class="icon icon-linkedin"></i></a>
                                                        <a class="article-controller-share-google-plus" title=""><i class="icon icon-google-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-category-related-container">
                                            <ul>
                                                <%_ var relatedMarketsArticleCounter = 0; _%>
                                                <%_ for (var j = 0 ; j < data.articles.length; j++) { _%>
                                                    <%_ var relatedMarketsArticleParent = data.articles[j]; _%>
                                                    <%_ var relatedMarketsArticleParentId = relatedMarketsArticleParent.articleid; _%>
                                                    <%_ for (var k = 0 ; k < eachMarketsArticle.relatedarticleid.length; k++) { _%>
                                                        <%_ var relatedMarketsArticleRange = eachMarketsArticle.relatedarticleid[k]; _%>
                                                        <%_ if ( relatedMarketsArticleParentId === relatedMarketsArticleRange ) { _%>
                                                            <%_ if (relatedMarketsArticleCounter < 2) { _%>
                                                                <li>
                                                                    <article>
                                                                        <div class="article-category-container">
                                                                            <a>
                                                                                <%_ if ( relatedMarketsArticleParent.softleadimage350 ) { _%>
                                                                                <div class="article-image <%- relatedMarketsArticleParent.imageorientation %>">
                                                                                    <div class="new-article-image compat-object-fit" style="background-image: url('<%- relatedMarketsArticleParent.softleadimage350 %>');">
                                                                                        <img src="<%- relatedMarketsArticleParent.softleadimage350 %>" alt="Image for <%- relatedMarketsArticleParent.kicker %> article" />
                                                                                    </div>
                                                                                </div>
                                                                                <%_ } else if ( relatedMarketsArticleParent.kickerimage350 ) { _%>
                                                                                <div class="article-image <%- relatedMarketsArticleParent.imageorientation %>">
                                                                                    <div class="new-article-image compat-object-fit" style="background-image: url('<%- relatedMarketsArticleParent.kickerimage350 %>');">
                                                                                        <img src="<%- relatedMarketsArticleParent.kickerimage350 %>" alt="Image for <%- relatedMarketsArticleParent.kicker %> article" />
                                                                                    </div>
                                                                                </div>
                                                                                <%_ } _%>
                                                                                <h2 class="article-kicker"><%- relatedMarketsArticleParent.headline %></h2>
                                                                                <div class="article-softlead">
                                                                                    <p><%- relatedMarketsArticleParent.softlead %></p>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </article>
                                                                </li>
                                                                <%_ relatedMarketsArticleCounter ++; _%>
                                                            <%_ } _%>
                                                        <%_ } _%>
                                                    <%_ } _%>
                                                <%_ } _%>
                                            </ul>
                                        </div>
                                    </article>
                                    <%_ marketsArticleCounter ++; _%>
                                <%_ } _%>
                            <%_ } _%>
                        <%_ } _%>
                    </div>
                </div>
            </div>
            <div class="content-area-elsewhere-container">
                <div class="content-area-category-title textb textup">
                    Elsewhere in the news
                </div>
                <div class="content-area-elsewhere-inner-container">
                    <article></article>
                </div>
                <div class="content-area-elsewhere-other-container">
                    <div class="content-area-elsewhere-other-inner-container">
                        <div class="content-area-elsewhere-other-inner-container-horizontal-split">
                            <div class="content-area-category-title textb textup">
                                Book Review
                            </div>
                            <article></article>
                        </div>
                        <div class="content-area-elsewhere-other-inner-container-horizontal-split">
                            <div class="content-area-category-title textb textup">
                                Video
                            </div>
                            <vhs></vhs>
                        </div>
                    </div>
                    <div class="content-area-elsewhere-other-inner-container">
                        <div class="content-area-category-title textb textup">
                            More News
                        </div>
                        <ul class="content-area-elsewhere-other-inner-news">
                            <li>
                                <article></article>
							</li>
                        </ul>
                    </div>
                    <div class="content-area-elsewhere-other-inner-container">
                        <div class="content-area-category-title textb textup">
                            Morning Briefing
                        </div>
                        <div id="ip">Loading...</div>
                        <div id="country_code"></div>
                        <div class="content-area-elsewhere-other-inner-image-controller" id="CA">
                            <a href="">
                                <img src="./newspaper-images/morning-briefing-canada.jpg" alt="" />
                                <h4>Canada Edition</h4>
                                <p>The news and stories that matter to readers in the Canada.</p>
                            </a>
                            <div class="article-category-signup-container textc">
                                <p>Get a weekly roundup of the best advice from <span class="textb">TPNS</span><span class="texti">two</span> on living a better, smarter, more fulfilling life.</p>
                                <!-- Begin MailChimp Signup Form -->
                                <div class="mc_embed_signup">
                                    <form action="//handmadesolutions.us16.list-manage.com/subscribe/post?u=e1ae87d8e63bb811b4e1b0c2f&amp;id=b8e990be1b" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                                        <div class="mc_embed_signup_scroll">
                                            <div class="mc-input">
                                                <input type="email" value="" name="EMAIL" class="mce-EMAIL email" placeholder="joe.bloggs@industries.com" required />
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_e1ae87d8e63bb811b4e1b0c2f_b8e990be1b" tabindex="-1" value="" />
                                            </div>
                                            <div class="mc-button">
                                                <button type="submit" name="subscribe" class="mc-embedded-subscribe button"><i class="icon icon-newsletter"></i><span class="hidden">Subscribe</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </div>
                        </div>
                        <div class="content-area-elsewhere-other-inner-image-controller" id="US">
                            <a href="">
                                <img src="./newspaper-images/morning-briefing.jpg" alt="" />
                                <h4>U.S.A. Edition</h4>
                                <p>The news and stories that matter to readers in the U.S.A..</p>
                            </a>
                            <div class="article-category-signup-container textc">
                                <p>Get a weekly roundup of the best advice from <span class="textb">TPNS</span><span class="texti">two</span> on living a better, smarter, more fulfilling life.</p>
                                <!-- Begin MailChimp Signup Form -->
                                <div class="mc_embed_signup">
                                    <form action="//handmadesolutions.us16.list-manage.com/subscribe/post?u=e1ae87d8e63bb811b4e1b0c2f&amp;id=b8e990be1b" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                                        <div class="mc_embed_signup_scroll">
                                            <div class="mc-input">
                                                <input type="email" value="" name="EMAIL" class="mce-EMAIL email" placeholder="joe.bloggs@industries.com" required />
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_e1ae87d8e63bb811b4e1b0c2f_b8e990be1b" tabindex="-1" value="" />
                                            </div>
                                            <div class="mc-button">
                                                <button type="submit" name="subscribe" class="mc-embedded-subscribe button"><i class="icon icon-newsletter"></i><span class="hidden">Subscribe</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </div>
                        </div>
                        <div class="content-area-elsewhere-other-inner-image-controller" id="Europe">
                            <a href="">
                                <img src="./newspaper-images/morning_briefing_europe.jpg" alt="" />
                                <h4>Europe Edition</h4>
                                <p>The news and stories that matter to readers in Europe.</p>
                            </a>
                            <div class="article-category-signup-container textc">
                                <p>Get a weekly roundup of the best advice from <span class="textb">TPNS</span><span class="texti">two</span> on living a better, smarter, more fulfilling life.</p>
                                <!-- Begin MailChimp Signup Form -->
                                <div class="mc_embed_signup">
                                    <form action="//handmadesolutions.us16.list-manage.com/subscribe/post?u=e1ae87d8e63bb811b4e1b0c2f&amp;id=b8e990be1b" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                                        <div class="mc_embed_signup_scroll">
                                            <div class="mc-input">
                                                <input type="email" value="" name="EMAIL" class="mce-EMAIL email" placeholder="joe.bloggs@industries.com" required />
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_e1ae87d8e63bb811b4e1b0c2f_b8e990be1b" tabindex="-1" value="" />
                                            </div>
                                            <div class="mc-button">
                                                <button type="submit" name="subscribe" class="mc-embedded-subscribe button"><i class="icon icon-newsletter"></i><span class="hidden">Subscribe</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </div>
                        </div>
                        <div class="content-area-elsewhere-other-inner-image-controller" id="Asia">
                            <a href="">
                                <img src="./newspaper-images/morning_briefing_asia.png" alt="" />
                                <h4>Asia Edition</h4>
                                <p>The news and stories that matter to readers in Asia.</p>
                            </a>
                            <div class="article-category-signup-container textc">
                                <p>Get a weekly roundup of the best advice from <span class="textb">TPNS</span><span class="texti">two</span> on living a better, smarter, more fulfilling life.</p>
                                <!-- Begin MailChimp Signup Form -->
                                <div class="mc_embed_signup">
                                    <form action="//handmadesolutions.us16.list-manage.com/subscribe/post?u=e1ae87d8e63bb811b4e1b0c2f&amp;id=b8e990be1b" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                                        <div class="mc_embed_signup_scroll">
                                            <div class="mc-input">
                                                <input type="email" value="" name="EMAIL" class="mce-EMAIL email" placeholder="joe.bloggs@industries.com" required />
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_e1ae87d8e63bb811b4e1b0c2f_b8e990be1b" tabindex="-1" value="" />
                                            </div>
                                            <div class="mc-button">
                                                <button type="submit" name="subscribe" class="mc-embedded-subscribe button"><i class="icon icon-newsletter"></i><span class="hidden">Subscribe</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </div>
                        </div>
                        <div class="content-area-elsewhere-other-inner-image-controller" id="World">
                            <a href="">
                                <img src="./newspaper-images/morning-briefing-world.jpg" alt="" />
                                <h4>World Edition</h4>
                                <p>The news and stories that matter to readers in the World.</p>
                            </a>
                            <div class="article-category-signup-container textc">
                                <p>Get a weekly roundup of the best advice from <span class="textb">TPNS</span><span class="texti">two</span> on living a better, smarter, more fulfilling life.</p>
                                <!-- Begin MailChimp Signup Form -->
                                <div class="mc_embed_signup">
                                    <form action="//handmadesolutions.us16.list-manage.com/subscribe/post?u=e1ae87d8e63bb811b4e1b0c2f&amp;id=b8e990be1b" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                                        <div class="mc_embed_signup_scroll">
                                            <div class="mc-input">
                                                <input type="email" value="" name="EMAIL" class="mce-EMAIL email" placeholder="joe.bloggs@industries.com" required />
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_e1ae87d8e63bb811b4e1b0c2f_b8e990be1b" tabindex="-1" value="" />
                                            </div>
                                            <div class="mc-button">
                                                <button type="submit" name="subscribe" class="mc-embedded-subscribe button"><i class="icon icon-newsletter"></i><span class="hidden">Subscribe</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </main>
    <aside>
        <div name="opinion" class="aside-module content-area-opinion">
            <div class="content-area-category-title textr textb textup">
                Opinion
            </div>
            <div class="content-area-opinion-cell">
                <%_ for (var i = 0 ; i < data.articles.length; i++) { _%>
                    <%_ allArticlesForOpinion = data.articles[i]; _%>
                    <%_ var leadArticleToGetOpinion = allArticlesForOpinion.leadarticle; _%>
                    <%_ if ( leadArticleToGetOpinion === 1 ) { _%>
                        <%_ for (var j = 0 ; j < data.articles.length; j++) { _%>
                            <%_ var leadArticleOpinionParent = data.articles[j]; _%>
                            <%_ var leadArticleOpinionParentId = leadArticleOpinionParent.articleid; _%>
                            <%_ for (var k = 0 ; k < allArticlesForOpinion.relatedopinionarticleid.length; k++) { _%>
                                <%_ var leadArticleOpinionParentRange = allArticlesForOpinion.relatedopinionarticleid[k]; _%>
                                <%_ if ( leadArticleOpinionParentId === leadArticleOpinionParentRange ) { _%>
                                    <%_ while (k++ < 1) { _%>
                                        <article>
                                            <div class="article-category-main-container">
                                                <%_ if ( leadArticleOpinionParent.softleadimage350 ) { _%>
                                                <div class="article-category-container">
                                                    <a>
                                                        <div class="article-image <%- leadArticleOpinionParent.imageorientation %> <%- leadArticleOpinionParent.imagefullwidth %>">
                                                            <div class="new-article-image compat-object-fit" style="background-image: url('<%- leadArticleOpinionParent.softleadimage350 %>');">
                                                                <img src="<%- leadArticleOpinionParent.softleadimage350 %>" alt="Image for <%- leadArticleOpinionParent.kicker %> article" />
                                                            </div>
                                                        </div>
                                                        <h2 class="article-kicker"><%- leadArticleOpinionParent.kicker %></h2>
                                                        <div class="article-softlead">
                                                            <p><%- leadArticleOpinionParent.softlead %></p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <%_ } _%>
                                                <div class="article-additional-info">
                                                    <small class="article-authors-container">
                                                        By: 
                                                        <%_ if ( leadArticleOpinionParent.reporter1 ) { _%>
                                                            <a href=""><span class="article-author"><%- leadArticleOpinionParent.reporter1 %></span></a>
                                                        <%_ } _%>
                                                        <%_ if ( leadArticleOpinionParent.reporter1 && leadArticleOpinionParent.reporter2 ) { _%>
                                                            and <a href=""><span class="article-author"><%- leadArticleOpinionParent.reporter2 %></span></a>
                                                        <%_ } _%>
                                                    </small>
                                                    <%_ if ( leadArticleOpinionParent.allowcomments === 1 ) { _%>
                                                    <small class="article-comments-total-container">
                                                        <a href=""><i class="icon icon-comments"></i><span class="article-comments-total"><%- leadArticleOpinionParent.articletotalcomments %></span><span class="article-comments-text">Comments</span></a>
                                                    </small>
                                                    <%_ } _%>
                                                </div>
                                                <div class="article-controller-container">
                                                    <div class="article-controller-pin-article">
                                                        <a title=""><i class="icon icon-tack"></i></a>
                                                    </div>
                                                    <div class="article-controller-share-article">
                                                        <a class="article-controller-share-button" title="">
                                                            <span class="article-controller-share-button-open"><i class="icon icon-share"></i></span>
                                                            <span class="article-controller-share-button-close"><i class="icon icon-close"></i></span>
                                                        </a>
                                                        <div class="article-controller-share-social">
                                                            <a class="article-controller-share-facebook" title=""><i class="icon icon-facebook"></i></a>
                                                            <a class="article-controller-share-twitter" title=""><i class="icon icon-twitter"></i></a>
                                                            <a class="article-controller-share-linkedin" title=""><i class="icon icon-linkedin"></i></a>
                                                            <a class="article-controller-share-google-plus" title=""><i class="icon icon-google-plus"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="article-category-related-container">
                                                <ul>
                                                    <%_ if ( leadArticleOpinionParent.imagefullwidth ) { _%>
                                                        <%_ var leadArticleOpinionParentRangeCounter = 0; _%>
                                                        <%_ for (var l = 0 ; l < data.articles.length; l++) { _%>
                                                            <%_ var relatedArticleOpinionParent = data.articles[l]; _%>
                                                            <%_ var relatedArticleOpinionParentId = relatedArticleOpinionParent.articleid; _%>
                                                            <%_ for (var m = 0 ; m < allArticlesForOpinion.relatedarticleid.length; m++) { _%>
                                                                <%_ var relatedArticleOpinionRange = allArticlesForOpinion.relatedarticleid[m]; _%>
                                                                <%_ if ( relatedArticleOpinionParentId === relatedArticleOpinionRange ) { _%>
                                                                    <%_ if (leadArticleOpinionParentRangeCounter < 3) { _%>
                                                                        <li id="article-<%- relatedArticleOpinionParent.articleid %>">
                                                                            <article>
                                                                                <div class="article-category-container">
                                                                                    <a>
                                                                                        <h1 class="article-headline"><%- relatedArticleOpinionParent.kicker %></h1>
                                                                                    </a>
                                                                                </div>
                                                                            </article>
                                                                        </li>
                                                                        <%_ leadArticleOpinionParentRangeCounter ++; _%>
                                                                    <%_ } _%>
                                                                <%_ } _%>
                                                            <%_ } _%>
                                                        <%_ } _%>
                                                    <%_ } else { _%>
                                                        <%_ var leadArticleOpinionParentRangeCounter = 0; _%>
                                                        <%_ for (var l = 0 ; l < data.articles.length; l++) { _%>
                                                            <%_ var relatedArticleOpinionParent = data.articles[l]; _%>
                                                            <%_ var relatedArticleOpinionParentId = relatedArticleOpinionParent.articleid; _%>
                                                            <%_ for (var m = 0 ; m < allArticlesForOpinion.relatedarticleid.length; m++) { _%>
                                                                <%_ var relatedArticleOpinionRange = allArticlesForOpinion.relatedarticleid[m]; _%>
                                                                <%_ if ( relatedArticleOpinionParentId === relatedArticleOpinionRange ) { _%>
                                                                    <%_ if (leadArticleOpinionParentRangeCounter < 5) { _%>
                                                                        <li id="article-<%- relatedArticleOpinionParent.articleid %>">
                                                                            <article>
                                                                                <div class="article-category-container">
                                                                                    <a>
                                                                                        <h1 class="article-headline"><%- relatedArticleOpinionParent.kicker %></h1>
                                                                                    </a>
                                                                                </div>
                                                                            </article>
                                                                        </li>
                                                                        <%_ leadArticleOpinionParentRangeCounter ++; _%>
                                                                    <%_ } _%>
                                                                <%_ } _%>
                                                            <%_ } _%>
                                                        <%_ } _%>
                                                    <%_ } _%>
                                                </ul>
                                            </div>
                                        </article>
                                    <%_ } _%>
                                <%_ } _%>
                            <%_ } _%>
                        <%_ } _%>
                    <%_ } _%>
                <%_ } _%>
            </div>
            <div class="content-area-opinion-cell">
                <%_ for (var l = 0 ; l < data.articles.length; l++) { _%>
                    <%_ allArticlesForOpinionRight = data.articles[l]; _%>
                    <%_ var leadArticleToGetOpinionRight = allArticlesForOpinionRight.leadarticle; _%>
                    <%_ var leadArticleOpinionParentRangeCounterRight = 0; _%>
                    <%_ if ( leadArticleToGetOpinionRight === 1 ) { _%>
                        <%_ for (var m = 0 ; m < data.articles.length; m++) { _%>
                            <%_ var leadArticleOpinionParentRight = data.articles[m]; _%>
                            <%_ var leadArticleOpinionParentIdRight = leadArticleOpinionParentRight.articleid; _%>
                            <%_ for (var n = 1; n < allArticlesForOpinionRight.relatedopinionarticleid.length; n++) { _%>
                                <%_ var leadArticleOpinionParentRangeRight = allArticlesForOpinionRight.relatedopinionarticleid[n]; _%>
                                <%_ if ( leadArticleOpinionParentIdRight === leadArticleOpinionParentRangeRight ) { _%>
                                    <%_ if (leadArticleOpinionParentRangeCounterRight < 2) { _%>
                                        <article>
                                            <div class="article-category-main-container">
                                                <%_ if ( leadArticleOpinionParentRight.kickerimage350 ) { _%>
                                                <div class="article-category-container">
                                                    <a>
                                                        <div class="article-image <%- leadArticleOpinionParentRight.imageorientation %> <%- leadArticleOpinionParent.imagefullwidth %>">
                                                            <div class="new-article-image compat-object-fit" style="background-image: url('<%- leadArticleOpinionParentRight.kickerimage350 %>');">
                                                                <img src="<%- leadArticleOpinionParentRight.kickerimage350 %>" alt="Image for <%- leadArticleOpinionParentRight.kicker %> article" />
                                                            </div>
                                                        </div>
                                                        <h2 class="article-kicker"><%- leadArticleOpinionParentRight.kicker %></h2>
                                                        <h3 class="article-subhead"><%- leadArticleOpinionParentRight.subhead %></h3>
                                                    </a>
                                                </div>
                                                <%_ } _%>
                                                <div class="article-additional-info">
                                                    <small class="article-authors-container">
                                                        By: 
                                                        <%_ if ( leadArticleOpinionParentRight.reporter1 ) { _%>
                                                            <a href=""><span class="article-author"><%- leadArticleOpinionParentRight.reporter1 %></span></a>
                                                        <%_ } _%>
                                                        <%_ if ( leadArticleOpinionParentRight.reporter1 && leadArticleOpinionParentRight.reporter2 ) { _%>
                                                            and <a href=""><span class="article-author"><%- leadArticleOpinionParentRight.reporter2 %></span></a>
                                                        <%_ } _%>
                                                    </small>
                                                    <%_ if ( leadArticleOpinionParentRight.allowcomments === 1 ) { _%>
                                                    <small class="article-comments-total-container">
                                                        <a href=""><i class="icon icon-comments"></i><span class="article-comments-total"><%- leadArticleOpinionParentRight.articletotalcomments %></span><span class="article-comments-text">Comments</span></a>
                                                    </small>
                                                    <%_ } _%>
                                                </div>
                                                <div class="article-controller-container">
                                                    <div class="article-controller-pin-article">
                                                        <a title=""><i class="icon icon-tack"></i></a>
                                                    </div>
                                                    <div class="article-controller-share-article">
                                                        <a class="article-controller-share-button" title="">
                                                            <span class="article-controller-share-button-open"><i class="icon icon-share"></i></span>
                                                            <span class="article-controller-share-button-close"><i class="icon icon-close"></i></span>
                                                        </a>
                                                        <div class="article-controller-share-social">
                                                            <a class="article-controller-share-facebook" title=""><i class="icon icon-facebook"></i></a>
                                                            <a class="article-controller-share-twitter" title=""><i class="icon icon-twitter"></i></a>
                                                            <a class="article-controller-share-linkedin" title=""><i class="icon icon-linkedin"></i></a>
                                                            <a class="article-controller-share-google-plus" title=""><i class="icon icon-google-plus"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <%_ leadArticleOpinionParentRangeCounterRight ++; _%>
                                    <%_ } _%>
                                <%_ } _%>
                            <%_ } _%>
                        <%_ } _%>
                    <%_ } _%>
                <%_ } _%>
            </div>
        </div>
        <div class="aside-module aside-promo-area-two-column">
            <div class="content-area-opinion-cell">
                <div class="content-area-category-title textb textup">
                    Insider
                </div>
                <%_ var insiderArticleCounter = 0; _%>
                <%_ for (var i = 0 ; i < data.articles.length; i++) { _%>
                    <%_ eachInsiderArticle = data.articles[i]; _%>
                    <%_ var thisInsiderArticle = eachInsiderArticle.micrositeslug; _%>
                    <%_ if ( thisInsiderArticle === "tpnstwo-insider" ) { _%>
                        <%_ if (insiderArticleCounter < 1) { _%>
                            <article id="article-<%- eachInsiderArticle.articleid %>">
                                <div class="article-category-main-container">
                                    <div class="article-category-container">
                                        <a>
                                            <%_ if ( eachInsiderArticle.kickerimage350 ) { _%>
                                            <div class="article-image <%- eachInsiderArticle.imageorientation %>">
                                                <div class="new-article-image compat-object-fit" style="background-image: url('<%- eachInsiderArticle.kickerimage350 %>');">
                                                    <img src="<%- eachInsiderArticle.kickerimage350 %>" alt="Image for <%- eachInsiderArticle.kicker %> article" />
                                                </div>
                                            </div>
                                            <%_ } _%>
                                            <h2 class="article-kicker"><%- eachInsiderArticle.kicker %></h2>
                                        </a>
                                    </div>
                                    <div class="article-controller-container">
                                        <div class="article-controller-pin-article">
                                            <a title=""><i class="icon icon-tack"></i></a>
                                        </div>
                                        <div class="article-controller-share-article">
                                            <a class="article-controller-share-button" title="">
                                                <span class="article-controller-share-button-open"><i class="icon icon-share"></i></span>
                                                <span class="article-controller-share-button-close"><i class="icon icon-close"></i></span>
                                            </a>
                                            <div class="article-controller-share-social">
                                                <a class="article-controller-share-facebook" title=""><i class="icon icon-facebook"></i></a>
                                                <a class="article-controller-share-twitter" title=""><i class="icon icon-twitter"></i></a>
                                                <a class="article-controller-share-linkedin" title=""><i class="icon icon-linkedin"></i></a>
                                                <a class="article-controller-share-google-plus" title=""><i class="icon icon-google-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <%_ insiderArticleCounter ++; _%>
                        <%_ } _%>
                    <%_ } _%>
                <%_ } _%>
            </div>
            <div class="content-area-opinion-cell">
                <div class="content-area-category-title textr textb textup">
                    Puzzles
                </div>
                <div class="aside-promo-area-link">
                    <a href="" title="">
                        <span class="aside-promo-area-link-title textb">Play today's crossword puzzle</span>
                        <i class="icon icon-crossword"></i>
                    </a>
                </div>
            </div>
        </div>
        <div name="editorschoice" class="aside-module content-area-news-feed">
            <div class="content-area-category-title content-area-news-feed-title textr textb textup">
                Editor&#39;s Choice
            </div>
            <div class="content-area-news-feed-inner-container">
                <%_ for (var i = 0 ; i < data.editorschoicebyweek.length; i++) { _%>
                    <%_ eachEditorsChoiceByWeekArticle = data.editorschoicebyweek[i]; _%>
                    <%_ var thisEditorsChoiceByWeekArticle = eachEditorsChoiceByWeekArticle.editorschoicebyday; _%>
                    <div class="newsfeed-editors-choice-by-day-filter">
                        <div class="newsfeed-editors-choice-by-day-date article-published-date-time textc">
                            <time datetime="<%- thisEditorsChoiceByWeekArticle %>"></time>
                        </div>
                        <%_ for (var j = 0 ; j < data.articles.length; j++) { _%>
                            <%_ var eachEditorsChoiceByWeekArticleParent = data.articles[j]; _%>
                            <%_ var eachEditorsChoiceByWeekArticleParentId = eachEditorsChoiceByWeekArticleParent.articleid; _%>
                            <%_ for (var k = 0 ; k < eachEditorsChoiceByWeekArticle.editorschoicebydayid.length; k++) { _%>
                                <%_ var eachEditorsChoiceByWeekArticleRange = eachEditorsChoiceByWeekArticle.editorschoicebydayid[k]; _%>
                                <%_ if ( eachEditorsChoiceByWeekArticleParentId === eachEditorsChoiceByWeekArticleRange ) { _%>
                                    <article>
                                        <div class="article-category-main-container">
                                            <div class="article-category-container">
                                                <a>
                                                    <div class="article-billboard">
                                                        <%_ if ( eachEditorsChoiceByWeekArticleParent.billboardimage350 ) { _%>
                                                        <div class="article-image <%- eachEditorsChoiceByWeekArticleParent.imageorientation %> <%- eachEditorsChoiceByWeekArticleParent.imagefullwidth %>">
                                                            <div class="new-article-image compat-object-fit" style="background-image: url('<%- eachEditorsChoiceByWeekArticleParent.billboardimage350 %>');">
                                                                <img src="<%- eachEditorsChoiceByWeekArticleParent.billboardimage350 %>" alt="Image for <%- eachEditorsChoiceByWeekArticleParent.kicker %> article" />
                                                            </div>
                                                        </div>
                                                        <%_ } _%>
                                                        <p><%- eachEditorsChoiceByWeekArticleParent.billboard %></p>
                                                        <%_ if ( eachEditorsChoiceByWeekArticleParent.editorschoicenotes ) { _%>
                                                        <div class="article-editorsnotes">
														    <p><%- eachEditorsChoiceByWeekArticleParent.editorschoicenotes %></p>
                                                        </div>
                                                        <%_ } _%>
													</div>
                                                </a>
                                            </div>
                                            <div class="article-additional-info">
                                                <small class="article-published-date-time">
													<time class="timeago" datetime="<%- eachEditorsChoiceByWeekArticleParent.publisheddatetime %>"></time>
												</small>
                                            </div>
                                            <div class="article-controller-container">
                                                <div class="article-controller-pin-article">
                                                    <a title=""><i class="icon icon-tack"></i></a>
                                                </div>
                                                <div class="article-controller-share-article">
                                                    <a class="article-controller-share-button" title="">
                                                        <span class="article-controller-share-button-open"><i class="icon icon-share"></i></span>
                                                        <span class="article-controller-share-button-close"><i class="icon icon-close"></i></span>
                                                    </a>
                                                    <div class="article-controller-share-social">
                                                        <a class="article-controller-share-facebook" title=""><i class="icon icon-facebook"></i></a>
                                                        <a class="article-controller-share-twitter" title=""><i class="icon icon-twitter"></i></a>
                                                        <a class="article-controller-share-linkedin" title=""><i class="icon icon-linkedin"></i></a>
                                                        <a class="article-controller-share-google-plus" title=""><i class="icon icon-google-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                <%_ } _%>
                            <%_ } _%>
                        <%_ } _%>
                    </div>
                <%_ } _%>
            </div>
            <div class="newsfeed-editors-choice-feedback-link">
                <a title="Editorial Feature Feedback form">Send Feedback</a>
            </div>
            <div class="clearfix"></div>
            <div class="newsfeed-editors-choice-feedback-container">
                <div class="newsfeed-editors-choice-feedback-title">
                    <h2>Feedback</h2>
                </div>
                <h3>Editorial Feature</h3>
                <h4>Thanks for trying our editorial feature on TPNStwo.com that highlights developing news from TPNS<span class="texti">two</span> Newspaper and around the web. Please take a moment to share your feedback below, or e-mail us at <a href="mailto:homepage.feedback@tpnstwo.com?subject=Editor&#39;s%20Choice%20Feedback">homepage.feedback@tpnstwo.com</a>.</h4>
                <form class="newsfeed-editors-choice-feedback-form">
                    <h5 class="feedback-form-input-title">Overall, how satisfied are you with this editorial feature?</h5>
                    <label class="feedback-form-input-label">
                        <input type="radio" name="editors-choice-feedback" value="1. Not at all satisfied" required />
                        <span class="feedback-form-radio-title textb">
                            1. Not at all satisfied
                        </span>
                    </label>
                    <label class="feedback-form-input-label">
                        <input type="radio" name="editors-choice-feedback" value="2. Not too satisfied" required />
                        <span class="feedback-form-radio-title textb">
                            2. Not too satisfied
                        </span>
                    </label>
                    <label class="feedback-form-input-label">
                        <input type="radio" name="editors-choice-feedback" value="3. Somewhat satisfied" required />
                        <span class="feedback-form-radio-title textb">
                            3. Somewhat satisfied
                        </span>
                    </label>
                    <label class="feedback-form-input-label">
                        <input type="radio" name="editors-choice-feedback" value="4. Very satisfied" required />
                        <span class="feedback-form-radio-title textb">
                            4. Very satisfied
                        </span>
                    </label>
                    <label class="feedback-form-input-label">
                        <input type="radio" name="editors-choice-feedback" value="5. Extremely satisfied" required />
                        <span class="feedback-form-radio-title textb">
                            5. Extremely satisfied
                        </span>
                    </label>
                    <label class="feedback-form-input-label">
                        <h5 class="feedback-form-input-title">Why did you give the above rating? Please be as specific as possible.</h5>
                        <span class="feedback-form-input-container">
                            <textarea class="texti" cols="40" rows="10" aria-required="true" aria-invalid="false" placeholder="I gave the above rating because..." required></textarea>
                        </span>
                    </label>
                    <label class="feedback-form-input-label">
                        <h5 class="feedback-form-input-title">Where can we reach you regarding your comment? Note that due to a large number of responses, we may not be able to respond to your feedback individually. (Optional)</h5>
                        <span class="feedback-form-input-container">
                            <input class="texti" type="text" name="your-email" aria-required="true" aria-invalid="false" placeholder="Enter your email or phone/mobile number" />
                        </span>
                    </label>
                    <div class="global-blue-button global-button feedback-form-input-button">
                        <a class="textb" title="Close Feedback Form"><i class="icon icon-close"></i>Close</a>
                        <button type="submit" name="submit" class="textb"><i class="icon icon-locked"></i>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </aside>
    <div class="clearfix"></div>
</section>